<header class="header">
  <nav class="header-top">
    <a href="/"><img src="/img/logo.png" alt="logo" /></a>
    <div>
      <a link href="/login">Ingresar</a>
      <a link href="/register">Registrarse</a>
    </div>
  </nav>
  <nav class="header-bottom">
    <ul>
      <li>Nuevos</li>
      <li>Más vendidos</li>
      <li>Ranking</li>
      <li>Consolas</li>
      <li>Free To Play</li>
    </ul>
  </nav>
</header>